<!--disclaimer-->
<div class="usa-disclaimer">
    <div class="usa-grid text-center">
        <span class="usa-disclaimer-official">
            <img class="usa-flag_icon" src="../../images/us_flag_small.png" alt="U.S. flag signifying that this is a United States federal government website" />
            <span translate="label.official.us.gov" translate-value-qhdos='<a class="usa-external_link" href="http://healthstatus2010.com/" target="_blank">this site</a>' translate-value-cdc='<a class="usa-external_link" href="http://wonder.cdc.gov/" target="_blank">CDC Wonder</a>'></span>
        </span>
    </div>
</div>
<!--disclaimer-->