<div class="usa-grid-full">
    <div class="usa-width-one-whole qh-header">
        <div class="usa-width-one-half qh-box">
            <div class="qh-small-header"> The Office on Women's Health</div>
            <div class="qh-large-header" ng-bind="'label.app.title.qhdo' | translate"></div>
            <div class="qh-para">
                The factors contributing to overall health are wide-reaching and often surprising, yet understanding them can be critical. This interactive site makes available state and country wide health data so that researchers, students, policy makers, grant writers and men and women across the country can fully explore the key issues and concerns of health.
            </div>
            <div class="button_wrapper">
                <button id="quick_health_explorer" class="usa-button qh-button" ng-click="$state.go('search')">
                    Explore &nbsp;&nbsp;
                    <i class="fa fa-angle-right"></i>
                </button>

            </div>
        </div>
        <div class="usa-width-one-half">

        </div>
    </div>
    <div class="usa-width-one-whole qh-section">
        <div class="usa-width-one-half">&nbsp;</div>
        <div class="usa-width-one-half padding-left-30 youCanParentDiv">
            <div class="qh-section-header youCanHeading">
                On This Site You Can:
            </div>
            <div class="youCanContent">
                <p><i class="fa fa-check"></i> Access dozens of datasets published by the Federal Government and gain insight into the main topics concerning health today.</p>
                <p><i class="fa fa-check"></i> Compare health information and statistics across populations, filtering for factors such as sex, age, race, and other socioeconomic variables.</p>
                <p><i class="fa fa-check"></i> Generate custom reports, graphs and maps to visually represent a wide range of information. </p>
            </div>
        </div>
    </div>
</div>