<div id="custom-modal">
    <div id="overlay">
        <div class="custom-modal-header">
            <div>
                <span style="font-size: 25px;" ng-bind="mc.modelHeader | translate"></span>
                <span style="float: right"><a href ng-click="mc.close()" id="modal-close"><i class="fa fa-times"></i></a></span>
            </div>
        </div>
        <div class="custom-modal-body usa-grid">
            <owh-tree entity-name="mc.entityName" code-key="mc.codeKey" option-values="mc.optionValues" submit-close ="mc.close()" questions="mc.questions"></owh-tree>
        </div>
        <div class="custom-modal-footer">
        </div>
    </div>
    <div id="fade"></div>
</div>