<div id="custom-modal">
    <div id="overlay" class="small">
        <div class="usa-grid usa-width-one-whole" style="float: right">
            <a href="javascript:void(0)" class="margin-right-10" ng-click="pt.close()"><i class="fa fa-times"></i></a>
        </div>
        <div class="usa-grid usa-width-one-whole">
            <span class="margin-left-20 margin-top-10" style="font-size: 25px;" ng-bind="'label.next.impl' | translate"></span>
        </div>
        <div class="custom-modal-body usa-grid">
            <div class="usa-width-one-whole">
                <div class="usa-width-one-whole margin-top-20" ng-bind=" pt.message | translate"></div>
            </div>
        </div>
        <div class="custom-modal-footer">
        </div>
    </div>
    <div id="fade"></div>
</div>