<div class="usa-grid" style="margin-bottom:-2%;margin-left:-2.5%"><h4>Deaths</h4></div>
<hr/>
<div class="usa-grid " >
    <div class="usa-width-one-whole" id="womenHealth">
        <div class="usa-width-one-fourth">
                <div class="usa-width-one-whole dashboard-header-2">
                    <button class="dashboard-header-button" style="float: right">Explore</button>
                    <h4 class="banner-title">
                        Mortality
                    </h4>
                    <p>
                        A statical resource on women's health in each of the states and a easy to use collection of data on critical issues of relevance to women.
                    </p>
                </div>
        </div>
        <div class="usa-width-one-fourth">
            <div class="usa-width-one-whole dashboard-header-2">
                <button class="dashboard-header-button" style="float: right">Explore</button>
                <h4 class="banner-title">
                   Birth
                </h4>
                <p>
                    A statical resource on women's health in each of the states and a easy to use collection of data on critical issues of relevance to women.
                </p>
            </div>
        </div>
        <div class="usa-width-one-fourth">
            <div class="usa-width-one-whole dashboard-header-2">
                <button class="dashboard-header-button" style="float: right">Explore</button>
                <h4 class="banner-title">
                    Infant Mortality
                </h4>
                <p>
                    A statical resource on women's health in each of the states and a easy to use collection of data on critical issues of relevance to women.
                </p>
            </div>
        </div>
        <div class="usa-width-one-fourth">
            <div class="usa-width-one-whole dashboard-header-2">
                <button class="dashboard-header-button" style="float: right">Explore</button>
                <h4 class="banner-title">
                    STDs
                </h4>
                <p>
                    A statical resource on women's health in each of the states and a easy to use collection of data on critical issues of relevance to women.
                </p>
            </div>
        </div>
    </div>

</div>