<!--<owh-nested-accordion accordion-data="otc.dataToAccordion"></owh-nested-accordion>-->
<table>
    <thead>
    <tr ng-repeat="eachHeaderRow in otc.tableData.headers">
        <th ng-repeat="eachHeader in eachHeaderRow" ng-bind="eachHeader.title" colspan="{{eachHeader.colspan}}" rowspan="{{eachHeader.rowspan}}" ng-class="{'text-right': eachHeader.isCount && eachHeader.colspan <= 3}"></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="eachRow in otc.tableData.data track by $index" ng-init="$outerIndex = $index" post-repeat-directive>
        <td ng-repeat="eachColumn in eachRow track by $index" colspan="{{eachColumn.colspan}}" rowspan="{{eachColumn.rowspan}}" ng-class="{'bold-class': eachColumn.isBold, 'text-right': eachColumn.isCount}">
            <owh-table-cell cell="eachColumn"
                            table-view="{{ otc.tableView }}"
                            row="eachRow"
                            row-index="$outerIndex"
                            col-index="$index"></owh-table-cell>
            <!-- <span ng-if="eachColumn.isCount" class="inline-bar" style="width: {{eachColumn.percentage}}%"></span> -->
        </td>
    </tr>
    </tbody>
</table>
<!--
<table>
    <thead>
        <tr>
            <th ng-repeat="header in otc.headers" ng-bind="header.title | translate"></th>
            <th ng-bind="otc.countLabel | translate"></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="eachRowData in otc.dataToTable track by $index" class="{{eachRowData.cssClass}}">
            <td ng-repeat="header in otc.headers">
                <i class="fa fa-angle-down fa-2x cursor-pointer" ng-if="$index === eachRowData.collapsibleIndex && eachRowData.allowCollapse" ng-click="otc.toggle($event, eachRowData.childCssClass)"></i>
                <span ng-bind="eachRowData[header.key]"></span>
            </td>
            <td>
                <span ng-bind="eachRowData[otc.countKey]" class="count-value"></span>
                <span class="inline-bar border-1" style="width: {{eachRowData[otc.countKey + 'Percentage']}}%"></span>
            </td>
        </tr>
    </tbody>
</table>-->
