<!--<owh-nested-accordion accordion-data="otc.dataToAccordion"></owh-nested-accordion>-->
<div class="clusterize">
    <div class="clusterize-headers">
        <table id="headers-table" class="owh-data-table">
            <thead>
            <tr ng-repeat="eachHeaderRow in otc.tableData.headers">
                <th ng-repeat="eachHeader in eachHeaderRow" ng-bind="eachHeader.title" colspan="{{eachHeader.colspan}}" rowspan="{{eachHeader.rowspan}}" ng-class="{'text-right': eachHeader.isCount && eachHeader.colspan <= 3}"></th>
            </tr>
            </thead>
        </table>
    </div>
    <div id="clusterize-table" class="clusterize-scroll">
        <table>
            <tbody id="content-area" class="clusterize-content">
                <!--<tr ng-repeat="eachRow in otc.tableData.data track by $index" ng-init="$outerIndex = $index" post-repeat-directive>-->
                    <!--<td ng-repeat="eachColumn in eachRow track by $index" colspan="{{eachColumn.colspan}}" rowspan="{{eachColumn.rowspan}}" ng-class="{'bold-class': eachColumn.isBold, 'text-right': eachColumn.isCount}">-->
                        <!--<owh-table-cell cell="eachColumn"-->
                            <!--table-view="{{ otc.tableView }}"-->
                            <!--row="eachRow"-->
                            <!--row-index="$outerIndex"-->
                            <!--col-index="$index"></owh-table-cell>-->
                    <!--</td>-->
                <!--</tr>-->
            </tbody>
        </table>
    </div>
</div>
