<div>
    <span ng-if="!otcc.cell.isCount" ng-bind-html="otcc.cell.title"></span>
    <i class="cursor-pointer {{otcc.cell.iconClass}}" ng-if="otcc.cell.iconClass" ng-click="otcc.cell.onIconClick(otcc.cell.key)"></i>
    <label class="custom-label owh-table__cell-content" ng-if="otcc.cell.isCount">
        <div ng-if="otcc.tableView === 'crude_death_rates' || otcc.tableView === 'age-adjusted_death_rates'">
            <div class="usa-width-one-half owh-table__left-col">
                <label ng-if="otcc.rowIndex === 0" class="owh-table__label">Rate</label>
                <span ng-if="otcc.getRateVisibility(otcc.cell.title, otcc.cell.pop) === 'visible' && otcc.tableView === 'crude_death_rates'">{{ otcc.cell.title / otcc.cell.pop * 100000 | number : 1 }}</span>
                <span ng-if="otcc.tableView === 'age-adjusted_death_rates'">{{ otcc.cell.ageAdjustedRate }}</span>
                <span ng-if="otcc.getRateVisibility(otcc.cell.title, otcc.cell.pop) === 'suppressed' && otcc.tableView === 'crude_death_rates'">Suppressed</span>
                <span ng-if="otcc.getRateVisibility(otcc.cell.title, otcc.cell.pop) === 'na' && otcc.tableView === 'crude_death_rates'">Not Applicable</span>
                <span ng-if="otcc.getRateVisibility(otcc.cell.title, otcc.cell.pop) === 'unreliable' && otcc.tableView === 'crude_death_rates'">Unreliable</span>
            </div>
            <div class="usa-width-one-half">
                <div>
                    <label ng-if="otcc.rowIndex === 0" class="owh-table__label">Deaths</label>
                    <span ng-if="otcc.cell.title !== 'suppressed'">{{ otcc.cell.title | number }}</span>
                    <span ng-if="otcc.cell.title === 'suppressed'">Suppressed</span>
                </div>
                <div>
                    <label ng-if="otcc.rowIndex === 0" class="owh-table__label">Population</label>
                    <span ng-if="otcc.cell.pop">{{ otcc.cell.pop | number }}</span>
                    <span ng-if="!otcc.cell.pop">Not Available</span>
                </div>
            </div>
        </div>
        <div ng-if="otcc.tableView === 'number_of_deaths'">
            <span ng-if="otcc.cell.title !== 'suppressed'" ng-bind="otcc.cell.title | number" class="count-value"></span>
            <span ng-if="otcc.cell.title === 'suppressed'">Suppressed</span>
            <span ng-show="otcc.colIndex != otcc.row.length - 1 && otcc.cell.percentage != undefined && otcc.cell.title !== 'suppressed'" class="count-value">({{otcc.cell.percentage | number : 1}}%)</span>
        </div>
    </label>
</div>