<aside>
    <div align="center" ng-if="!sfc.runOnFilterChange">
        <hr/>
        <button class="action-button condition-option ng-scope" ng-click="sfc.onFilter();" title="{{'label.run.query.title' | translate}}">{{'label.run.query' | translate}}</button>
    </div>
    <ul class="usa-sidenav-list side-filters">
        <!--iterate over filter by category-->
        <div ng-repeat="(categoryKey, category) in sfc.categories"
             class="category-{{$index}}">

            <div class="padding-top-20 bold-class grey-text filter-category"
                 ng-if="categoryKey != 'undefined'" ng-bind="categoryKey">
            </div>
            <!--iterate over filters of a category-->
            <li class="accordion" ng-repeat="sideFilter in category | orderBy: sfc.getFilterOrder"
                ng-class="{'cursor-not-allowed disabled-filter': !sfc.isVisible(sideFilter) || sideFilter.disabled }"
                ng-init="group = (sideFilter.filterGroup ? sideFilter : sideFilter.filters)"
                ng-if="categoryKey == 'undefined' || $index < 2 || sfc.filters.selectedPrimaryFilter['cat'+$parent.$index]">

                <span ng-class="{'disabled-filter': !sfc.isVisible(sideFilter) || sideFilter.disabled }" ng-if="group.filterType === 'slider'">
                    <label class="side-pane-label custom-label">
                        <a href="javascript:void(0)" ng-click="sideFilter.collapse = !sideFilter.collapse"
                           class="custom-link" title="{{group.helpText | translate}}">
                            <i class="fa" ng-class="sideFilter.collapse?'fa-chevron-right':'fa-chevron-down'"></i>
                            <span translate="{{group.title}}" class="filter-display-name"></span>
                        </a>
                        <owh-toggle-switch ng-if="sideFilter.allowGrouping" class="pull-right"
                                           options="sideFilter.groupOptions ? sideFilter.groupOptions : sfc.groupOptions"
                                           model="group.groupBy" on-change="sfc.onFilterValueChange(sideFilter)"
                                           tooltip="{{'label.group.by.tooltip' | translate}}">
                        </owh-toggle-switch>
                        <!--<a class="group-by-link custom-link" href="javascript:void(0)"
                           ng-if="sideFilter.allowGrouping" ng-class="{'selected': group.groupBy}"
                           ng-click="sfc.groupBySideFilter(group)">
                            <span translate="label.group.by"></span>
                            <i class="fa" ng-class="{'fa-times': group.groupBy}"></i>
                        </a>-->
                    </label>
                    <ul class="usa-unstyled-list group-options" ng-if="group.filterGroup" ng-hide="sideFilter.collapse">
                        <li ng-repeat="eachFilter in group.filters" class="group-option" ng-show="$index < 3 || sideFilter.showAll">
                            <input type="checkbox" ng-model="eachFilter.groupBy" id="{{eachFilter.key}}">
                            <label for="{{eachFilter.key}}" class="custom-label">
                                <span translate="{{eachFilter.title}}"></span>
                                <span class="pull-right" ng-bind="eachFilter.autoCompleteOptions[0].count | number"></span>
                            </label>
                        </li>
                        <li class="group-option more-options" ng-if="group.filters.length > 3">
                            <a ng-show="!sideFilter.showAll" class="custom-link" translate="label.show.more"
                               translate-values="{showLength: group.filters.length - 3}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                            <a ng-show="sideFilter.showAll" class="custom-link" translate="label.hide.more"
                               translate-values="{hideLength: group.filters.length - 3}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                        </li>
                    </ul>
                    <ul class="usa-unstyled-list group-options" ng-if="!group.filterGroup" ng-hide="sideFilter.collapse">

                        <!--Age group filter -->
                        <li>
                            <input type="text" ng-model="group.sliderValue" id="{{group.key}}_slider" slider ng-init="group.sliderOptions.search = sfc.onFilter" options="group.sliderOptions"/>
                        </li>
                    </ul>
                </span>
                <!--end slider filter-->


                <!-- conditions filter -->
                <span ng-class="{'disabled-filter': !sfc.isVisible(sideFilter)}"
                      ng-if="group.filterType === 'conditions' && ( group.key === 'ucd-chapter-10' || group.key === 'mcd-filters')">
                    <label class="side-pane-label custom-label">
                        <a href="javascript:void(0)" ng-click="sideFilter.collapse = !sideFilter.collapse"
                           title="{{group.helpText | translate}}" class="custom-link">
                            <i class="fa" ng-class="sideFilter.collapse?'fa-chevron-right':'fa-chevron-down'"></i>
                            <span translate="{{group.title}}" class="filter-display-name"></span>
                        </a>
                        <owh-toggle-switch ng-if="sideFilter.allowGrouping" class="pull-right"
                                           options="sideFilter.groupOptions ? sideFilter.groupOptions : sfc.groupOptions"
                                           model="group.groupBy" on-change="sfc.runOnFilterChange && sfc.onFilter()"
                                           tooltip="{{'label.group.by.tooltip' | translate}}">
                        </owh-toggle-switch>
                        <!--<a class="group-by-link custom-link" href="javascript:void(0)"
                           ng-if="sideFilter.allowGrouping" ng-class="{'selected': group.groupBy}"
                           ng-click="sfc.groupBySideFilter(group)">
                            <span translate="label.group.by"></span>
                            <i class="fa" ng-class="{'fa-times': group.groupBy}"></i>
                        </a>-->
                    </label>
                    <ul class="usa-unstyled-list group-options" ng-if="group.filterGroup" ng-hide="sideFilter.collapse">
                        <li ng-repeat="eachFilter in group.filters" class="group-option" ng-show="$index < 3 || sideFilter.showAll">
                            <input type="checkbox" ng-model="eachFilter.groupBy" id="{{eachFilter.key}}">
                            <label for="{{eachFilter.key}}" class="custom-label">
                                <span translate="{{eachFilter.title}}"></span>
                                <span class="pull-right" ng-bind="eachFilter.autoCompleteOptions[0].count | number"></span>
                            </label>
                        </li>
                        <li class="group-option more-options" ng-if="group.filters.length > 3">
                            <a ng-show="!sideFilter.showAll" class="custom-link" translate="label.show.more"
                               translate-values="{showLength: group.filters.length - 3}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                            <a ng-show="sideFilter.showAll" class="custom-link" translate="label.hide.more"
                               translate-values="{hideLength: group.filters.length - 3}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                        </li>
                    </ul>
                    <ul class="usa-unstyled-list group-options" ng-if="!group.filterGroup" ng-hide="sideFilter.collapse">

                        <!--UCD & MCD filters-->
                        <li class="group-option" >
                           <label for="{{group.key}}" class="custom-label" style="margin-bottom: 0">
                                <button class="action-button condition-option"
                                        translate="{{group.selectedValues && group.selectedValues.length > 0 ? group.updateTitle : group.selectTitle}}"
                                        ng-click="sfc.showModal(group, [group])"></button>

                            </label>
                                <div ng-repeat="selectedValue in group.selectedValues" >
                                    <span style="font-size: 13px" ng-bind="selectedValue.text"></span>
                                </div>
                                <div ng-if="!group.selectedValues || group.selectedValues.length === 0" style="margin-bottom: 20px">
                                    <span style="font-size: 13px">All</span>
                                </div>

                              <div class="ucd-clear" ng-show="group.selectedValues.length > 0 ">
                                  <button class="action-button" translate="label.clear"
                                          ng-click="sfc.clearSelection(group, true)"></button>
                                </div>
                        </li>
                        <!-- UCD & MCD filters-->
                    </ul>
                </span>
                <!-- end conditions filter -->


                <!-- tree filter -->
                <span ng-class="{'disabled-filter': !sfc.isVisible(sideFilter)}" ng-if="group.filterType === 'tree'">
                    <label class="side-pane-label custom-label">
                        <a href="javascript:void(0)" ng-click="sideFilter.collapse = !sideFilter.collapse"
                           title="{{group.helpText | translate}}" class="custom-link">
                            <i class="fa" ng-class="sideFilter.collapse?'fa-chevron-right':'fa-chevron-down'"></i>
                            <span translate="{{group.title}}" class="filter-display-name"></span>
                        </a>
                        <owh-toggle-switch ng-if="sideFilter.allowGrouping" class="pull-right"
                                           options="sideFilter.groupOptions ? sideFilter.groupOptions : sfc.groupOptions"
                                           model="group.groupBy" on-change="sfc.runOnFilterChange && sfc.onFilter()"
                                           tooltip="{{'label.group.by.tooltip' | translate}}">
                        </owh-toggle-switch>
                        <!--<a class="group-by-link custom-link" href="javascript:void(0)"
                           ng-if="sideFilter.allowGrouping" ng-class="{'selected': group.groupBy}"
                           ng-click="sfc.groupBySideFilter(group)">
                            <span translate="label.group.by"></span>
                            <i class="fa" ng-class="{'fa-times': group.groupBy}"></i>
                        </a>-->
                    </label>
                    <ul class="usa-unstyled-list group-options" ng-if="group.filterGroup" ng-hide="sideFilter.collapse">
                        <li ng-repeat="eachFilter in group.filters" class="group-option" ng-show="$index < 3 || sideFilter.showAll">
                            <input type="checkbox" ng-model="eachFilter.groupBy" id="{{eachFilter.key}}">
                            <label for="{{eachFilter.key}}" class="custom-label">
                                <span translate="{{eachFilter.title}}"></span>
                                <span class="pull-right" ng-bind="eachFilter.autoCompleteOptions[0].count | number"></span>
                            </label>
                        </li>
                        <li class="group-option more-options" ng-if="group.filters.length > 3">
                            <a ng-show="!sideFilter.showAll" class="custom-link" translate="label.show.more"
                               translate-values="{showLength: group.filters.length - 3}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                            <a ng-show="sideFilter.showAll" class="custom-link" translate="label.hide.more"
                               translate-values="{hideLength: group.filters.length - 3}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                        </li>
                    </ul>
                    <ul class="usa-unstyled-list group-options" ng-if="!group.filterGroup" ng-hide="sideFilter.collapse">
                        <!--Tree filter-->
                        <li class="group-option" >
                            <!--<input id="{{option.key}}" type="radio" ng-model="group.value" ng-value="option.key"
                                   ng-click="sfc.showModal(option.key, option.value, group.autoCompleteOptions)">-->
                            <label for="{{group.key}}" class="custom-label" style="margin-bottom: 0">
                                <button class="action-button condition-option" translate="{{group.selectedNodes && group.selectedNodes.length > 0 ? group.updateTitle : group.selectTitle}}"
                                        ng-click="sfc.showModal(group, [group])"></button>
                            </label>
                            <div class="">
                                <div id="selectedNodes" ng-repeat="selectedNode in group.selectedNodes" >
                                    <span style="font-size: 13px" ng-bind="selectedNode.text"></span>
                                </div>
                                <div id="allNodes" ng-if="!group.selectedNodes || group.selectedNodes.length === 0" style="margin-bottom: 20px">
                                    <span style="font-size: 13px">All</span>
                                </div>
                            </div>
                            <div class="ucd-clear" ng-show="group.selectedNodes.length > 0 ">
                                <button class="action-button" translate="label.clear"
                                        ng-click="sfc.clearSelection(group)"></button>
                            </div>
                        </li>
                        <!--Tree filter-->
                    </ul>
                </span>
                <!-- end tree filter -->


                <!-- checkbox filter -->
                <span ng-class="{'disabled-filter': !sfc.isVisible(sideFilter)}" ng-if="group.filterType === 'checkbox'">
                    <label class="side-pane-label custom-label">
                        <a href="javascript:void(0)" ng-click="sideFilter.collapse = !sideFilter.collapse"
                           title="{{group.helpText | translate}}" class="custom-link">
                            <i class="fa" ng-class="sideFilter.collapse?'fa-chevron-right':'fa-chevron-down'"></i>
                            <span translate="{{group.title}}" class="filter-display-name"></span>
                        </a>
                        <owh-toggle-switch ng-if="sideFilter.allowGrouping" class="pull-right"
                                           options="sideFilter.groupOptions ? sideFilter.groupOptions : sfc.groupOptions"
                                           model="group.groupBy" on-change="sfc.runOnFilterChange && sfc.onFilter()"
                                           tooltip="{{'label.group.by.tooltip' | translate}}">
                        </owh-toggle-switch>
                        <!--<a class="group-by-link custom-link" href="javascript:void(0)"
                           ng-if="sideFilter.allowGrouping" ng-class="{'selected': group.groupBy}"
                           ng-click="sfc.groupBySideFilter(group)">
                            <span translate="label.group.by"></span>
                            <i class="fa" ng-class="{'fa-times': group.groupBy}"></i>
                        </a>-->
                    </label>
                    <ul class="usa-unstyled-list group-options" ng-if="group.filterGroup" ng-hide="sideFilter.collapse">
                        <li ng-repeat="eachFilter in group.filters" class="group-option" ng-show="$index < 3 || sideFilter.showAll">
                            <input type="checkbox" ng-model="eachFilter.groupBy" id="{{eachFilter.key}}">
                            <label for="{{eachFilter.key}}" class="custom-label">
                                <span translate="{{eachFilter.title}}"></span>
                                <span class="pull-right" ng-bind="eachFilter.autoCompleteOptions[0].count | number"></span>
                            </label>
                        </li>
                        <li class="group-option more-options" ng-if="group.filters.length > 3">
                            <a ng-show="!sideFilter.showAll" class="custom-link" translate="label.show.more"
                               translate-values="{showLength: group.filters.length - 3}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                            <a ng-show="sideFilter.showAll" class="custom-link" translate="label.hide.more"
                               translate-values="{hideLength: group.filters.length - 3}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                        </li>
                    </ul>
                    <ul class="usa-unstyled-list group-options" ng-if="!group.filterGroup" ng-hide="sideFilter.collapse">
                        <!-- Display search box -->
                        <li class="group-option padding-right-10" ng-show="group.displaySearchBox">
                            <input ng-model="search.title" type="text" class="filter-search-box" placeholder="Start typing to find">
                            <i ng-show="search.title" class="cursor-pointer clear-text-icon fa fa-remove" ng-click="search.title =''"></i>
                        </li>

                        <!--Check box filter-->
                        <!-- show All --->
                        <li class="group-option" ng-if="!group.doNotShowAll"
                            ng-class="{'thin-border-top': (group.value.length > 0 && group.displaySelectedFirst)}">
                            <input type="checkbox" id="{{group.queryKey}}_all" name="{{group.queryKey}}_all" ng-checked="group.value.length === 0"
                                   ng-click="sfc.updateGroupValue(sideFilter);" ng-model="group.allChecked" ng-init="group.allChecked = group.value.length === 0"
                                   ng-show="group.filterType === 'checkbox'" >
                            <label for="{{group.queryKey}}_all" class="custom-label">
                                <span>All</span>
                            </label>
                        </li>

                        <!-- Show selected items on top -->
                        <li ng-repeat="option in group.autoCompleteOptions | filter:search as filteredOptions"
                            ng-if="group.displaySelectedFirst"
                            class="group-option">
                            <div ng-show="!option.group && sfc.isOptionSelected(option, group.value)">
                                <input id="{{sfc.primaryKey}}_{{group.key}}_{{option.key}}" type="checkbox"
                                       checklist-model="group.value" checklist-value="option.key" ng-disabled="sfc.isOptionDisabled(group, option)" ng-click="sfc.onFilterValueChange(sideFilter)">
                                <label for="{{sfc.primaryKey}}_{{group.key}}_{{option.key}}" class="custom-label"
                                       ng-init="title = option.title">
                                    <span class="count-label" translate="{{title}}"></span>
                                    <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts && option.count != 'suppressed'" ng-bind="option.count | number"></span>
                                    <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts && option.count === 'suppressed'">Suppressed</span>
                                </label>
                            </div>
                        </li>

                        <!--show options-->
                        <li ng-repeat="option in group.autoCompleteOptions | filter:search as filteredOptions"
                            ng-init="$outerIndex = $index"
                            class="group-option" ng-if="$index < 3 || sideFilter.showAll || ($index < (3+ group.value.length) && group.displaySelectedFirst)">
                            <div ng-if="!option.group && (group.displaySelectedFirst?!sfc.isOptionSelected(option, group.value):true)">
                                <input id="{{sfc.primaryKey}}_{{group.key}}_{{option.key}}" type="checkbox"
                                       checklist-model="group.value" checklist-value="option.key" ng-disabled="(sfc.isOptionDisabled(group, option))" ng-click="sfc.onFilterValueChange(sideFilter)">
                                <label for="{{sfc.primaryKey}}_{{group.key}}_{{option.key}}" class="custom-label"
                                       ng-init="title = option.title">
                                    <span ng-class="option.disabled?'disable-click':'count-label'" translate="{{title}}"></span>
                                    <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts && option.count != 'suppressed'" ng-bind="option.count | number"></span>
                                    <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts && option.count === 'suppressed'">Suppressed</span>
                                </label>
                            </div>

                            <!-- Show option groups -->
                            <div ng-if="option.group" ng-init="option.collapse = true" class="owh-side-menu__group-option">
                                <input id="{{sfc.primaryKey}}_{{group.key}}_{{option.key}}" name="{{group.queryKey}}" type="checkbox"
                                       checklist-model="group.value" checklist-value="option.key" ng-disabled="sfc.isOptionDisabled(group, option)" ng-click="sfc.filterGroup(option, group)">
                                <label for="{{sfc.primaryKey}}_{{group.key}}_{{option.key}}" class="custom-label"
                                       ng-init="title = option.title">
                                    <a href="javascript:void(0)" ng-click="option.collapse = !option.collapse" class="custom-link ">
                                        <i class="fa" ng-class="option.collapse?'fa-chevron-right':'fa-chevron-down'"></i>
                                        <!--<span translate="{{group.title}}"></span>-->
                                    </a>
                                    <span class="count-label" translate="{{title}}"></span>
                                    <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts" ng-bind="option.count | number"></span>
                                </label>

                                <ul class="owh-side-menu__sub-category-options" ng-hide="option.collapse" ng-init="option.collapse = !sfc.isSubOptionSelected(group, option)">
                                    <li ng-repeat="subOption in option.options"
                                        class="group-option">
                                        <input id="{{sfc.primaryKey}}_{{group.key}}_{{subOption.key}}" name="{{group.queryKey}}" type="checkbox"
                                               ng-show="group.filterType === 'checkbox'"  checklist-model="group.value" checklist-value="subOption.key" ng-disabled="sfc.isOptionDisabled(group, subOption)" ng-click="sfc.onFilterValueChange(sideFilter)">
                                        <label for="{{sfc.primaryKey}}_{{group.key}}_{{subOption.key}}" class="custom-label"
                                               ng-init="title = subOption.title">
                                            <span class="count-label" translate="{{title}}"></span>
                                            <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts && subOption.count != 'suppressed'" ng-bind="subOption.count | number"></span>
                                            <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts && subOption.count === 'suppressed'">Suppressed</span>
                                        </label>
                                    </li>
                                </ul>
                            </div>
                            <!-- Option groups -->
                        </li>
                        <!-- end checkbox filter -->

                        <!-- show more ... for checkbox/radio-->
                        <li class="group-option more-options" ng-if="filteredOptions.length > 3">
                            <a ng-show="!sideFilter.showAll" class="custom-link" translate="label.show.more"
                               translate-values="{showLength: sfc.getShowHideOptionCount(group, filteredOptions)}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                            <a ng-show="sideFilter.showAll" class="custom-link" translate="label.hide.more"
                               translate-values="{hideLength: sfc.getShowHideOptionCount(group, filteredOptions)}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                        </li>
                        <!-- show more ... end-->
                    </ul>
                </span>
                <!-- end checkbox filter -->


                <!-- radio filter -->
                <span ng-class="{'disabled-filter': !sfc.isVisible(sideFilter)}" ng-if="group.filterType === 'radio'">
                    <label class="side-pane-label custom-label">
                        <a href="javascript:void(0)" ng-click="sideFilter.collapse = !sideFilter.collapse"
                           title="{{group.helpText | translate}}" class="custom-link">
                            <i class="fa" ng-class="sideFilter.collapse?'fa-chevron-right':'fa-chevron-down'"></i>
                            <span translate="{{group.title}}" class="filter-display-name"></span>
                        </a>
                        <owh-toggle-switch ng-if="sideFilter.allowGrouping" class="pull-right"
                                           options="sideFilter.groupOptions ? sideFilter.groupOptions : sfc.groupOptions"
                                           model="group.groupBy" on-change="sfc.onFilterValueChange(sideFilter)"
                                           tooltip="{{'label.group.by.tooltip' | translate}}">
                        </owh-toggle-switch>
                        <!--<a class="group-by-link custom-link" href="javascript:void(0)"
                           ng-if="sideFilter.allowGrouping" ng-class="{'selected': group.groupBy}"
                           ng-click="sfc.groupBySideFilter(group)">
                            <span translate="label.group.by"></span>
                            <i class="fa" ng-class="{'fa-times': group.groupBy}"></i>
                        </a>-->
                    </label>
                    <ul class="usa-unstyled-list group-options" ng-if="group.filterGroup" ng-hide="sideFilter.collapse">
                        <li ng-repeat="eachFilter in group.filters" class="group-option" ng-show="$index < 3 || sideFilter.showAll">
                            <input type="checkbox" ng-model="eachFilter.groupBy" id="{{eachFilter.key}}">
                            <label for="{{eachFilter.key}}" class="custom-label">
                                <span translate="{{eachFilter.title}}"></span>
                                <span class="pull-right" ng-bind="eachFilter.autoCompleteOptions[0].count | number"></span>
                            </label>
                        </li>
                        <li class="group-option more-options" ng-if="group.filters.length > 3">
                            <a ng-show="!sideFilter.showAll" class="custom-link" translate="label.show.more"
                               translate-values="{showLength: group.filters.length - 3}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                            <a ng-show="sideFilter.showAll" class="custom-link" translate="label.hide.more"
                               translate-values="{hideLength: group.filters.length - 3}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                        </li>
                    </ul>
                    <ul class="usa-unstyled-list group-options" ng-if="!group.filterGroup" ng-hide="sideFilter.collapse">
                        <!-- Display search box -->
                        <li class="group-option padding-right-10" ng-show="group.displaySearchBox">
                            <input ng-model="search.title" type="text" class="filter-search-box" placeholder="Start typing to find">
                            <i ng-show="search.title" class="cursor-pointer clear-text-icon fa fa-remove" ng-click="search.title =''"></i>
                        </li>

                        <!--radio filter-->
                        <!-- show All --->
                        <li class="group-option" ng-if="!group.doNotShowAll"
                            ng-class="{'thin-border-top': (group.value.length > 0 && group.displaySelectedFirst)}">
                            <input id="{{group.queryKey}}_all" name="{{group.queryKey}}" type="radio" ng-checked="!group.value" value=""
                                   ng-model="group.value" ng-click="sfc.onFilterValueChange(sideFilter)">
                            <label for="{{group.queryKey}}_all" class="custom-label">
                                <span>All</span>
                            </label>
                        </li>

                        <!-- Show selected items on top -->
                        <li ng-repeat="option in group.autoCompleteOptions | filter:search as filteredOptions"
                            ng-if="group.displaySelectedFirst"
                            class="group-option">
                            <div ng-show="!option.group && sfc.isOptionSelected(option, group.value)">
                                   <input id="{{sfc.primaryKey}}_{{group.key}}_{{option.key}}" name="{{group.queryKey}}" type="radio"
                                          ng-model="group.value" ng-value="option.key" ng-click="sfc.onFilterValueChange(sideFilter)">
                                <label for="{{sfc.primaryKey}}_{{group.key}}_{{option.key}}" class="custom-label"
                                       ng-init="title = option.title">
                                    <span class="count-label" translate="{{title}}"></span>
                                    <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts" ng-bind="option.count | number"></span>
                                </label>
                            </div>
                        </li>

                        <!--show options-->
                        <li ng-repeat="option in group.autoCompleteOptions | filter:search as filteredOptions"
                            ng-init="$outerIndex = $index"
                            class="group-option" ng-if="$index < 3 || sideFilter.showAll || ($index < (3+ group.value.length) && group.displaySelectedFirst)">
                            <div ng-if="!option.group && (group.displaySelectedFirst?!sfc.isOptionSelected(option, group.value):true)">
                               <input id="{{sfc.primaryKey}}_{{group.key}}_{{option.key}}" name="{{group.queryKey}}" type="radio"
                                      ng-model="group.value" ng-value="option.key" ng-click="sfc.onFilterValueChange(sideFilter)">
                                <label for="{{sfc.primaryKey}}_{{group.key}}_{{option.key}}" class="custom-label"
                                       ng-init="title = option.title">
                                    <span class="count-label" translate="{{title}}"></span>
                                    <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts" ng-bind="option.count | number"></span>
                                </label>
                            </div>
                        </li>
                        <!-- end radio filter -->

                        <!-- show more ... for checkbox/radio-->
                        <li class="group-option more-options" ng-if="filteredOptions.length > 3">
                            <a ng-show="!sideFilter.showAll" class="custom-link" translate="label.show.more"
                               translate-values="{showLength: sfc.getShowHideOptionCount(group, filteredOptions)}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                            <a ng-show="sideFilter.showAll" class="custom-link" translate="label.hide.more"
                               translate-values="{hideLength: sfc.getShowHideOptionCount(group, filteredOptions)}"
                               ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                        </li>
                        <!-- show more ... end-->
                    </ul>
                </span>
                <!-- end radio filter -->
            </li>
            <!--show hide/more filters of a category-->
            <div ng-if="category.length > 2 && categoryKey != 'undefined'"
                 class="padding-top-10 toggle-filter-link">
                <a ng-show="!sfc.filters.selectedPrimaryFilter['cat'+$index]" class="custom-link show-more-{{$index}}"
                   translate="label.show.more.filters"
                   translate-values="{showLength: (category.length - 2)}"
                   ng-click="sfc.filters.selectedPrimaryFilter['cat'+$index] = !sfc.filters.selectedPrimaryFilter['cat'+$index]" href="javascript:void(0)"></a>
                <a ng-show="sfc.filters.selectedPrimaryFilter['cat'+$index]" class="custom-link show-less-{{$index}}"
                   translate="label.hide.more.filters"
                   translate-values="{hideLength: (category.length -2)}"
                   ng-click="sfc.filters.selectedPrimaryFilter['cat'+$index] = !sfc.filters.selectedPrimaryFilter['cat'+$index]" href="javascript:void(0)"></a>
            </div>
        </div>
        <li class="accordion" ng-repeat="util in sfc.utilities">
            <span>
                <label class="side-pane-label custom-label">
                    <a href="javascript:void(0)" ng-click="util.collapse = !util.collapse"
                       title="{{util.helpText | translate}}" class="custom-link">
                        <i class="fa" ng-class="util.collapse?'fa-chevron-right':'fa-chevron-down'"></i>
                        <span translate="{{util.title}}"></span>
                    </a>
                </label>
                <ul class="owh-side-menu__options-list usa-unstyled-list group-options" ng-hide="util.collapse">
                    <div class="owh-side-menu__utility-option" ng-repeat="option in util.options">
                        <div ng-if="option.type === 'toggle'">
                            <span>{{option.title}}</span>
                            <owh-toggle-switch class="pull-right"
                                               model="option.value"
                                               options="option.options"
                                               on-change="option.onChange(option.value)">
                            </owh-toggle-switch>
                        </div>
                        <br ng-if="$index === 0" />
                    </div>
                </ul>
            </span>
        </li>
    </ul>
</aside>
