<aside>
    <ul class="usa-sidenav-list side-filters">
        <li class="accordion" ng-repeat="sideFilter in sfc.filters.selectedPrimaryFilter.sideFilters | orderBy: sfc.getFilterOrder"
            ng-class="{'cursor-not-allowed': !sfc.isVisible(sideFilter)}">

            <span ng-init="group = (sideFilter.filterGroup ? sideFilter : sideFilter.filters)"
                  ng-class="{'disabled-filter': !sfc.isVisible(sideFilter)}">
                <label class="side-pane-label custom-label">
                    <a href="javascript:void(0)" ng-click="sideFilter.collapse = !sideFilter.collapse" class="custom-link">
                        <i class="fa" ng-class="sideFilter.collapse?'fa-chevron-right':'fa-chevron-down'"></i>
                        <span translate="{{group.title}}" class="filter-display-name"></span>
                    </a>
                    <owh-toggle-switch ng-if="sideFilter.allowGrouping" class="pull-right"
                                       options="sideFilter.groupOptions ? sideFilter.groupOptions : sfc.filters.groupOptions"
                                       model="group.groupBy" on-change="sfc.onFilter()"
                                       tooltip="{{'label.group.by.tooltip' | translate}}">
                    </owh-toggle-switch>
                    <!--<a class="group-by-link custom-link" href="javascript:void(0)"
                       ng-if="sideFilter.allowGrouping" ng-class="{'selected': group.groupBy}"
                       ng-click="sfc.groupBySideFilter(group)">
                        <span translate="label.group.by"></span>
                        <i class="fa" ng-class="{'fa-times': group.groupBy}"></i>
                    </a>-->
                </label>
                <ul class="usa-unstyled-list group-options" ng-if="group.filterGroup" ng-hide="sideFilter.collapse">
                    <li ng-repeat="eachFilter in group.filters" class="group-option" ng-show="$index < 3 || sideFilter.showAll">
                        <input type="checkbox" ng-model="eachFilter.groupBy" id="{{eachFilter.key}}">
                        <label for="{{eachFilter.key}}" class="custom-label">
                            <span translate="{{eachFilter.title}}"></span>
                            <span class="pull-right" ng-bind="sfc.getOptionCount(eachFilter.autoCompleteOptions[0]) | number"></span>
                        </label>
                    </li>
                    <li class="group-option more-options" ng-if="group.filters.length > 3">
                        <a ng-show="!sideFilter.showAll" class="custom-link" translate="label.show.more"
                           translate-values="{showLength: group.filters.length - 3}"
                           ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                        <a ng-show="sideFilter.showAll" class="custom-link" translate="label.hide.more"
                           translate-values="{hideLength: group.filters.length - 3}"
                           ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                    </li>
                </ul>
                <ul class="usa-unstyled-list group-options" ng-if="!group.filterGroup" ng-hide="sideFilter.collapse">

                    <!--Age group filter -->
                    <li ng-if="group.filterType === 'slider'">
                        <input type="text" ng-model="group.sliderValue" id="{{group.key}}_slider" slider ng-init="group.sliderOptions.search = sfc.onFilter" options="group.sliderOptions"/>
                    </li>

                    <!--Radio button filters (UCD & MCD)-->
                    <li ng-if="group.filterType === 'conditions'" ng-repeat="option in group.autoCompleteOptions" class="group-option" >
                        <!--<input id="{{option.key}}" type="radio" ng-model="group.value" ng-value="option.key"
                               ng-click="sfc.showModal(option.key, option.value, group.autoCompleteOptions)">-->
                        <label for="{{option.key}}" class="custom-label" style="margin-bottom: 0">
                            <button class="action-button condition-option" translate="select.{{option.title}}"
                                    ng-click="group.value = option.key;sfc.showModal(option, group.autoCompleteOptions)"></button>
                            <owh-toggle-switch class="pull-right" ng-show="option.selectedValues.length > 0 "
                                               options="group.groupOptions"
                                               model="option.groupBy" on-change="sfc.onFilter()"
                                               tooltip="{{'label.group.by.tooltip' | translate}}">
                            </owh-toggle-switch>

                        </label>
                        <div ng-show="group.value===option.key">
                            <div ng-repeat="selectedValue in option.selectedValues" >
                                <span style="font-size: 13px" ng-bind="selectedValue.text"></span>
                            </div>
                            <div ng-if="!option.selectedValues || option.selectedValues.length === 0" style="margin-bottom: 20px">
                                <span style="font-size: 13px">All</span>
                            </div>
                        </div>
                          <div class="ucd-clear" ng-show="option.selectedValues.length > 0 ">
                              <button class="action-button" translate="label.clear"
                                      ng-click="sfc.clearSelection(option, true)"></button>
                            </div>
                    </li>
                    <!--Radio button filters (UCD & MCD)-->


                    <!--Tree filter-->
                    <li ng-if="group.filterType === 'tree'" class="group-option" >
                        <!--<input id="{{option.key}}" type="radio" ng-model="group.value" ng-value="option.key"
                               ng-click="sfc.showModal(option.key, option.value, group.autoCompleteOptions)">-->
                        <label for="{{group.key}}" class="custom-label" style="margin-bottom: 0">
                            <button class="action-button condition-option" translate="{{group.selectedNodes && group.selectedNodes.length > 0 ? group.updateTitle : group.selectTitle}}"
                                    ng-click="sfc.showModal(group, [group])"></button>
                        </label>
                        <div class="">
                            <div ng-repeat="selectedNode in group.selectedNodes" >
                                <span style="font-size: 13px" ng-bind="selectedNode.text"></span>
                            </div>
                            <div ng-if="!group.selectedNodes || group.selectedNodes.length === 0" style="margin-bottom: 20px">
                                <span style="font-size: 13px">All</span>
                            </div>
                        </div>
                        <div class="ucd-clear" ng-show="group.selectedNodes.length > 0 ">
                            <button class="action-button" translate="label.clear"
                                    ng-click="sfc.clearSelection(group)"></button>
                        </div>
                    </li>
                    <!--Tree filter-->

                    <!--Radio button filters (UCD & MCD)-->
                 <!--   <li ng-if="group.filterType === 'radio'" ng-repeat="option in group.autoCompleteOptions" class="group-option" >
                        <input id="{{option.key}}" type="radio" ng-model="group.value" ng-value="option.key" ng-click="sfc.onFilter()" >
                        <label for="{{option.key}}" class="custom-label" style="margin-bottom: 0">
                            <span translate="{{option.title}}"></span>
                        </label>
                    </li>-->
                    <!--Radio button filters (UCD & MCD)-->

                    <!--search box for side filter options-->
                    <li class="group-option padding-right-10" ng-show="group.displaySearchBox">
                        <input ng-model="search.title" type="text" class="filter-search-box" placeholder="Start typing to find">
                        <i ng-show="search.title" class="cursor-pointer clear-text-icon fa fa-remove" ng-click="search.title =''"></i>
                    </li>

                    <!--Fot all other filters-->
                    <li class="group-option" ng-if="group.filterType !== 'tree' && group.filterType !== 'slider' && group.filterType !== 'conditions'  && group.filterType !== 'radio' ">
                        <input type="checkbox" id="{{group.queryKey}}_all" name="{{group.queryKey}}_all" ng-checked="group.value.length === 0"
                               ng-click="sfc.updateGroupValue(group);" ng-model="group.allChecked" ng-init="group.allChecked = group.value.length === 0">
                        <label for="{{group.queryKey}}_all" class="custom-label">
                            <span>All</span>
                        </label>
                    </li>
                    <!--group options-->
                    <li ng-repeat="option in group.autoCompleteOptions | filter:search as filteredOptions"
                        ng-init="$outerIndex = $index"
                        ng-if="group.filterType !== 'tree' && group.filterType !== 'slider' && group.filterType !== 'conditions'  && group.filterType !== 'radio' "
                        class="group-option" ng-show="$index < 3 || sideFilter.showAll">
                        <div ng-if="!option.group">
                            <input id="{{sfc.filters.selectedPrimaryFilter.key}}_{{group.key}}_{{option.key}}" type="checkbox"
                                   checklist-model="group.value" checklist-value="option.key" ng-disabled="sfc.isOptionDisabled(group, option)" ng-click="sfc.onFilter()">
                            <label for="{{sfc.filters.selectedPrimaryFilter.key}}_{{group.key}}_{{option.key}}" class="custom-label"
                                   ng-init="title = option.title == 'Nursing home/long term care' ? 'Nursing home/long term <br>care' : option.title">
                                <span class="count-label" translate="{{title}}"></span>
                                <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts" ng-bind="sfc.getOptionCount(option) | number"></span>
                            </label>
                        </div>

                        <div ng-if="option.group" ng-init="option.collapse = true" class="owh-side-menu__group-option">
                            <input id="{{sfc.filters.selectedPrimaryFilter.key}}_{{group.key}}_{{option.key}}" type="checkbox"
                                   checklist-model="group.value" checklist-value="option.key" ng-disabled="sfc.isOptionDisabled(group, option)" ng-click="sfc.filterGroup(option, group)">
                            <label for="{{sfc.filters.selectedPrimaryFilter.key}}_{{group.key}}_{{option.key}}" class="custom-label"
                                   ng-init="title = option.title == 'Nursing home/long term care' ? 'Nursing home/long term <br>care' : option.title">
                                <a href="javascript:void(0)" ng-click="option.collapse = !option.collapse" class="custom-link ">
                                    <i class="fa" ng-class="option.collapse?'fa-chevron-right':'fa-chevron-down'"></i>
                                        <!--<span translate="{{group.title}}"></span>-->
                                </a>
                                <span class="count-label" translate="{{title}}"></span>
                                <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts" ng-bind="sfc.getOptionCount(option) | number"></span>
                            </label>

                            <ul class="owh-side-menu__sub-category-options" ng-hide="option.collapse" ng-init="option.collapse = !sfc.isSubOptionSelected(group, option)">
                                <li ng-repeat="subOption in option.options"
                                    ng-if="group.filterType !== 'tree' && group.filterType !== 'slider' && group.filterType !== 'conditions'  && group.filterType !== 'radio' "
                                    class="group-option">
                                    <input id="{{sfc.filters.selectedPrimaryFilter.key}}_{{group.key}}_{{subOption.key}}" type="checkbox"
                                           checklist-model="group.value" checklist-value="subOption.key" ng-disabled="sfc.isOptionDisabled(group, subOption)" ng-click="sfc.onFilter()">
                                    <label for="{{sfc.filters.selectedPrimaryFilter.key}}_{{group.key}}_{{subOption.key}}" class="custom-label"
                                           ng-init="title = subOption.title == 'Nursing home/long term care' ? 'Nursing home/long term <br>care' : subOption.title">
                                        <span class="count-label" translate="{{title}}"></span>
                                        <span class="pull-right count-value" ng-if="!sideFilter.dontShowCounts" ng-bind="sfc.getOptionCount(subOption) | number"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>

                    </li>

                    <li class="group-option more-options" ng-if="filteredOptions.length > 3 &&
                        group.filterType !== 'tree' && group.filterType !== 'slider' && group.filterType !== 'conditions' &&
                        group.filterType !== 'radio' " >
                        <a ng-show="!sideFilter.showAll" class="custom-link" translate="label.show.more"
                           translate-values="{showLength: filteredOptions.length - 3}"
                           ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                        <a ng-show="sideFilter.showAll" class="custom-link" translate="label.hide.more"
                           translate-values="{hideLength: filteredOptions.length - 3}"
                           ng-click="sideFilter.showAll = !sideFilter.showAll" href="javascript:void(0)"></a>
                    </li>
                </ul>
            </span>
        </li>
        <li class="accordion" ng-repeat="util in sfc.utilities">
            <span>
                <label class="side-pane-label custom-label">
                    <a href="javascript:void(0)" ng-click="util.collapse = !util.collapse" class="custom-link">
                        <i class="fa" ng-class="util.collapse?'fa-chevron-right':'fa-chevron-down'"></i>
                        <span translate="{{util.title}}"></span>
                    </a>
                </label>
                <ul class="owh-side-menu__options-list usa-unstyled-list group-options" ng-hide="util.collapse">
                    <div class="owh-side-menu__utility-option" ng-repeat="option in util.options">
                        <div ng-if="option.type === 'toggle'">
                            <span>{{option.title}}</span>
                            <br/>
                            <owh-toggle-switch class="pull-right"
                                               model="option.value"
                                               options="option.options"
                                               on-change="option.onChange(option.value)">
                            </owh-toggle-switch>
                        </div>
                    </div>
                </ul>
            </span>
        </li>
    </ul>
</aside>
