<div class="usa-grid-full">
    <div class="usa-grid-full usa-width-one-whole">
        <div class="usa-width-one-third margin-right-0" >
            <div class="usa-width-one-whole ">
                <div class="usa-width-one-third text-right interested-text" ng-bind="'label.interested.in' | translate"></div>
                <select id="interestedIn" ng-model="ots.filters.selectedPrimaryFilter"
                        ng-options="primaryFilter.title | translate for primaryFilter in ots.filters.primaryFilters"
                        ng-change="ots.onPrimaryFilter({newFilter: ots.filters.selectedPrimaryFilter})"
                        class="usa-width-one-half add-on-element gray-border margin-0"></select>
                <div class="usa-width-one-twelfth" style="padding-top:15px;">by</div>
            </div>
        </div>
        <div class="usa-width-one-third margin-right-0" style="margin-left:-40px;">
            <ui-select multiple ng-model="ots.filters.selectedPrimaryFilter.value"
                       theme="bootstrap" name="filter" id="filter"
                       class="usa-width-one-whole dashboard-element"
                       on-select="ots.groupByFiltersUpdated(true)"
                       on-remove="ots.groupByFiltersUpdated()">
                <ui-select-match class="ui-select-match" allow-clear="true"
                                 placeholder="Click here to type">{{$item.title | translate}}</ui-select-match>
                <ui-select-choices class="ui-select-choices" group-by="'type'" ui-disable-choice="option.disableFilter"
                                   repeat="option as option in ots.filters.selectedPrimaryFilter.allFilters | filter: $select.search">
                    <div ng-bind-html="option.title | translate | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="usa-width-one-fourth margin-right-0" ng-show="ots.filters.selectedPrimaryFilter.key === 'deaths'">
            <div class="usa-width-one-fourth show-me-text" ng-bind="'label.show.me' | translate"></div>
            <select id="showMeDropDown" ng-model="ots.selectedShowFilter"
                    ng-change="ots.onViewFilter({selectedFilter: ots.selectedShowFilter})"
                    ng-options="eachFilter.title | translate for eachFilter in ots.showFilters.deaths"
                    class="usa-width-two-thirds add-on-element gray-border margin-0"></select>
        </div>
        <div class="usa-width-one-fourth margin-right-0" ng-show="ots.filters.selectedPrimaryFilter.key === 'natality'">
            <div class="usa-width-one-fourth show-me-text" ng-bind="'label.show.me' | translate"></div>
            <select ng-model="ots.selectedShowFilter"
                    ng-change="ots.onViewFilter({selectedFilter: ots.selectedShowFilter})"
                    ng-options="eachFilter.title | translate for eachFilter in ots.showFilters.natality"
                    class="usa-width-two-thirds add-on-element gray-border margin-0"></select>
        </div>
        <div class="usa-width-one-fourth margin-right-0" ng-show="ots.filters.selectedPrimaryFilter.key === 'prams'">
            <div class="usa-width-one-fourth show-me-text" ng-bind="'label.prams.class' | translate"></div>
            <select ng-model="ots.selectedShowFilter"
                    ng-change="ots.onViewFilter({selectedFilter: ots.selectedShowFilter})"
                    ng-options="eachFilter.title | translate for eachFilter in ots.showFilters.prams"
                    class="usa-width-two-thirds add-on-element gray-border margin-0"></select>
        </div>
        <div class="forward-back">
            <button class="action-button condition-option ng-scope"  ng-click="ots.goBackward();" title="Previous Query"><i class="fa fa-chevron-left" ng-class="fa-chevron-left"></i></button>
            <button class="action-button condition-option ng-scope"  ng-click="ots.goForward();" title="Next Query"><i class="fa fa-chevron-right" ng-class="fa-chevron-right"></i></button>
        </div>
        <!--<owh-bookmark table-view="ots.tableView"></owh-bookmark>-->
    </div>
</div>
<!--<button class="action-button" translate="label.search" ng-click="ots.searchResults({})"></button>-->
