<div class="usa-grid">
    <ng-include src="'app/partials/disclaimer.html'"></ng-include>
</div>
<!--Search banner-->
<div class="usa-grid-full">
    <div class="usa-width-one-whole sp-header">
        <div class="usa-width-one-sixth sp-icon-div cursor-pointer">
            <img ui-sref="home" src="../images/owh-logo-white.svg" alt="owh_white_logo" height="60" width="200"/>
        </div>
        <div class="usa-width-one-third cursor-pointer">
            <img ui-sref="home" src="../images/hig-logo-white.svg" alt="HIG Logo" height="60" width="300"/>
        </div>
    </div>
</div>
<!--Search banner-->

<div class="usa-grid-full">
    <div class="usa-grid">
        <!-- @TODO add sc.queryID -->
        <div class="usa-width-one-whole margin-top-30 margin-bottom-30">
            <div class="usa-grid-full usa-width-one-whole">
                <owh-search filters="sc.filters" show-filters="sc.showMeOptions"
                            search-results="sc.filters.selectedPrimaryFilter.searchResults(sc.filters.selectedPrimaryFilter)"
                            on-view-filter="sc.changeViewFilter(selectedFilter)"
                            on-primary-filter="sc.changePrimaryFilter(newFilter)"
                            table-view="{{ sc.tableView }}"></owh-search>
            </div>
        </div>
    </div>
    <!--<div class="usa-width-one-whole padding-top-10">
        <leaflet lf-center="usa" markers="markers" events="events" geojson="geojson" defaults="defaults" width="650px" height="480px"></leaflet>
    </div>-->
</div>

<div class="usa-grid border-top-default" ng-class="{'allow-inline-charting': sc.filters.allowInlineCharting}">
    <div class="usa-width-one-whole bottom-pane">
        <a class="owh-side-menu__handle--collapsed cursor-pointer" ng-hide="sc.sideMenu.visible" ng-click="sc.sideMenu.visible = !sc.sideMenu.visible; sc.updateCharts()">
            <span>Show Filters &gt;&gt;</span>
        </a>
        <div class="usa-width-one-fourth side-pane-padding border-right-default owh-side-menu" ng-hide="!sc.sideMenu.visible">
            <div ng-show="sc.filters.selectedPrimaryFilter.title === 'label.risk.behavior'" class="yrbs_search_links">
                <a class="owh-side-menu__handle cursor-pointer pull-left" ng-show="sc.filters.selectedPrimaryFilter.title === 'label.risk.behavior'"
                   ng-click="sc.switchToYRBSBasic();" ng-if="!sc.filters.selectedPrimaryFilter.showBasicSearchSideMenu">
                    <span ng-bind="'label.yrbs.basic.search' | translate"></span>
                </a>
                <a class="owh-side-menu__handle cursor-pointer pull-left" ng-show="sc.filters.selectedPrimaryFilter.title === 'label.risk.behavior'"
                   ng-click="sc.switchToYRBSAdvanced();" ng-if="sc.filters.selectedPrimaryFilter.showBasicSearchSideMenu">
                    <span ng-bind="'label.yrbs.advanced.search' | translate"></span>
                </a>
            </div>
            <a class="owh-side-menu__handle cursor-pointer" ng-click="sc.sideMenu.visible = false; sc.updateCharts()">
                <span>&lt;&lt; Hide Filters</span>
            </a>
            <div class="sort-by side-filter-padding">
                <owh-side-filter filters="sc.filters.selectedPrimaryFilter.sideFilters"
                    group-options="sc.filters.groupOptions"
                    primary-key="{{ sc.filters.selectedPrimaryFilter.key }}"
                    on-filter="sc.search(true)"
                    sort="sc.sort[sc.filters.selectedPrimaryFilter.title]"
                    show-filters="sc.availableFilters[sc.tableView]"
                    utilities="sc.filterUtilities[sc.filters.selectedPrimaryFilter.key]"
                    run-on-filter-change="sc.filters.selectedPrimaryFilter.runOnFilterChange"
                    ></owh-side-filter>
            </div>
        </div>
        <div class="owh-search-content usa-width-three-fourths overflow-visible" ng-class="{'owh-search-content--expanded': !sc.sideMenu.visible }">
        <!--Charts-->
            <div class="usa-grid-full margin-top-30">
                <div class="usa-width-one-whole">
                    <div ng-repeat="startChartData in sc.filters.selectedPrimaryFilter.chartData" ng-init="parentIndex = $index">
                        <div ng-repeat="chartData in startChartData"
                             ng-class="!chartData.isMap || sc.mapOptions.selectedMapSize==='small'?'usa-width-one-third graph-box':'usa-width-one-whole margin-bottom-20'">
                            <!-- Map -->
                            <div id="chart_us_map" ng-if="chartData.isMap && sc.filters.selectedPrimaryFilter.showMap && sc.filters.selectedPrimaryFilter.maps">
                                <leaflet  lf-center="chartData.usa" markers="chartData.markers" events="chartData.events" geojson="chartData.geojson"
                                          legend="chartData.legend" controls="chartData.controls" defaults="chartData.defaults" tiles=""
                                          height="{{sc.mapOptions.selectedMapSize==='small'?'277px':'300px'}}" width="{{sc.mapOptions.selectedMapSize==='small'?'auto':'100%'}}"></leaflet>
                            </div>
                            <!-- Map -->

                            <!-- Graphs -->
                            <div ng-if="!chartData.isMap">
                                <div class="text-center margin-top-5" >
                                    <span ng-bind="sc.getChartTitle(chartData.title)" class="graph-title"></span>
                                    <a name="expand_graph" ng-click="sc.showExpandedGraph(chartData)" class="cursor-pointer">
                                        &nbsp;<i class="fa fa-expand" title="Expand graph"></i>
                                    </a>
                                    <a name="share_fb" ng-click="sc.showFbDialog('chart_'+parentIndex+'_'+$index, chartData.title)"
                                       class="cursor-pointer">
                                        &nbsp; <i class="fa fa-share-alt" title="{{'label.share.on.fb' | translate}}"></i>
                                    </a>
                                </div>
                                <nvd3 id="chart_{{parentIndex}}_{{$index}}" options='chartData.options' data='chartData.data' api="chartData.api" on-ready="sc.updateCharts()"></nvd3>
                            </div>
                            <!-- Graphs -->
                        </div>
                    </div>
                </div>
            </div>
            <!--Charts-->

            <!--More visualization-->
            <div class="usa-width-one-whole" ng-show="sc.filters.selectedPrimaryFilter.chartData.length > 0">
                <div class="usa-width-one-whole more-graph-select">
                    <span ng-bind="'label.visualization.more.one' | translate"></span>
                    <a href="javascript:void(0)" ng-click="sc.showPhaseTwoGraphs('label.graph.impl.next')">Build one</a>
                    <span ng-bind="'label.visualization.more.two' | translate"></span>
                </div>
            </div>
            <!--More visualization-->

            <!--Table-->
            <div class="usa-grid-full">
                <div class="usa-width-one-whole overflow-visible">
                    <hr />
                    <!-- show hide percentage -->
                    <div id="togglePercentage" class="togglePercentage pull-left" ng-show="sc.filters.selectedPrimaryFilter.title === 'label.filter.mortality' && sc.tableView === 'number_of_deaths'">
                        <a id="showPercentage" class="active-link custom-link " ng-class="{'selected': sc.tableData.calculatePercentage === true}" ng-click="sc.tableData.calculatePercentage = true;" title="Show percentage">
                            <span ng-show="sc.tableData.calculatePercentage === false" ng-bind="'label.mortality.search.table.show.percentage.button' | translate"></span>
                            <span ng-show="sc.tableData.calculatePercentage === true" ng-bind="'label.mortality.search.table.showing.percentage.button' | translate"></span>
                        </a>
                        <a id="hidePercentage" class="active-link custom-link" ng-class="{'selected': sc.tableData.calculatePercentage === false}" ng-click="sc.tableData.calculatePercentage = false;" title="Hide percentage">
                            <span ng-show="sc.tableData.calculatePercentage === true" ng-bind="'label.mortality.search.table.hide.percentage.button' | translate"></span>
                            <span ng-show="sc.tableData.calculatePercentage === false" ng-bind="'label.mortality.search.table.hidden.percentage.button' | translate"></span>
                        </a>
                    </div>

                    <div class="pull-right margin-bottom-20 margin-right-10">
                        <!--<div>Icons made by <a href="http://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>-->
                        <a name="download_csv" ng-click="sc.downloadCSV()" title="Download CSV" class="cursor-pointer">
                            <img src="images/csv.png"/>
                        </a>
                        |
                        <a name="download_xls" ng-click="sc.downloadXLS()" title="Download XLS" class="cursor-pointer">
                            <img src="images/xls.png"/>
                        </a>
                    </div>
                    <p id="death-rate-disclaimer" ng-show="sc.tableView === 'crude_death_rates'" ng-bind=" 'label.crude.death.rates.statement' | translate"></p>
                    <owh-table table-data="sc.tableData"
                               show-percentage="sc.tableData.calculatePercentage"
                               ng-if="(sc.filters.selectedPrimaryFilter.headers && sc.filters.selectedPrimaryFilter.key === 'deaths' ||
                               sc.filters.selectedPrimaryFilter.key === 'bridge_race' ||
                               sc.filters.selectedPrimaryFilter.key === 'natality')"
                               table-view="{{sc.tableView}}"
                               rowspan-threshold="50"></owh-table>
                    <owh-accordion-table headers="sc.tableData.headers" data="sc.tableData.data"
                                ng-if="sc.filters.selectedPrimaryFilter.key === 'mental_health' ||
                                    sc.filters.selectedPrimaryFilter.key === 'prams'"
                                primary-key="sc.filters.selectedPrimaryFilter.key"
                                show-ci="sc.showConfidenceIntervals"
                                show-uf="sc.showUnweightedFrequency"
                                show-charts = "sc.filters.selectedPrimaryFilter.value.length > 1">
                    </owh-accordion-table>
                </div>
            </div>
            <!--Table-->
        </div>
    </div>
</div>

<div class="usa-grid-full">
    <owh-footer></owh-footer>
</div>
