<div class="usa-grid-full margin-top-30">
    <div class="usa-width-one-whole" ng-repeat="startChartData in ogc.graphData" ng-init="parentIndex = $index">
        <div ng-repeat="chartData in startChartData"
             ng-class="!chartData.isMap || ogc.selectedMapSize==='small'?'usa-width-one-third graph-box':'usa-width-one-whole margin-bottom-20'">
            <!--Map-->
            <div id="chart_us_map" ng-if="chartData.isMap && ogc.showMap && ogc.maps">
                <leaflet  lf-center="chartData.usa" markers="chartData.markers" events="chartData.events" geojson="chartData.geojson"
                          legend="chartData.legend" controls="chartData.controls" defaults="chartData.defaults"
                          height="{{ogc.selectedMapSize==='small'?'277px':'300px'}}" width="{{ogc.selectedMapSize==='small'?'300px':'100%'}}"></leaflet>
            </div>
            <!--Map-->

            <!--Graphs-->
            <div ng-if="!chartData.isMap">
                <div class="text-center margin-top-5" >
                    <span ng-bind="chartData.title | translate" class="graph-title"></span>
                    <a name="expand_graph" ng-click="sc.showExpandedGraph(chartData)" class="cursor-pointer">
                        &nbsp;<i class="fa fa-expand" title="Expand graph"></i>
                    </a>
                    <a name="share_fb" ng-click="sc.showFbDialog('chart_'+parentIndex+'_'+$index, chartData.title)"
                       class="cursor-pointer">
                        &nbsp; <i class="fa fa-share-alt" title="Share on facebook"></i>
                    </a>
                </div>
                <nvd3 id="chart_{{parentIndex}}_{{$index}}" options='chartData.options' data='chartData.data'></nvd3>
            </div>
            <!--Graphs-->
        </div>
    </div>
</div>

<!--More visualization-->
<div class="usa-width-one-whole" ng-show="ogc.graphData.length > 0">
    <div class="usa-width-one-whole more-graph-select">
        <span ng-bind="'label.visualization.more.one' | translate"></span>
        <a href="javascript:void(0)" ng-click="sc.showPhaseTwoGraphs('label.graph.impl.next')">Build one</a>
        <span ng-bind="'label.visualization.more.two' | translate"></span>
    </div>
</div>
<!--More visualization-->