<div class="usa-grid-full footer">
    <div class="usa-width-one-half footer-header">
        <div class="usa-grid-full">
            <div class="usa-width-one-third footer-header-img"><img width="110px" height="50px" src="app/images/owh_logo.png" alt="OWH Logo" style="margin-left: 20px"></div>
            <div class="usa-width-two-thirds"><span class="footer-h2 margin-top-0" ng-bind="'label.app.title.qhdo' | translate"></span></div>
        </div>
    </div>
    <div class="usa-width-one-half">
        <div class="usa-grid">
            <div class="usa-width-one-third">
                <ul>
                    <li><a href="#" ng-href="#" ng-click="fc.showPhaseTwoWarningModal('label.default.to.be.implemented');">FAQS</a></li>
                    <li><a href="#" ng-href="#" ng-click="fc.showPhaseTwoWarningModal('label.default.to.be.implemented');">Links</a></li>
                    <li><a href="#" ng-href="#" ng-click="fc.showPhaseTwoWarningModal('label.default.to.be.implemented');">Downloads</a></li>
                </ul>

            </div>
            <div class="usa-width-one-third">
                <ul>
                    <li><a href="#" ng-href="#" ng-click="fc.showPhaseTwoWarningModal('label.default.to.be.implemented');">A-Z index</a></li>
                    <li><a href="#" ng-href="#" ng-click="fc.showPhaseTwoWarningModal('label.default.to.be.implemented');">Contact</a></li>
                </ul>
            </div>
            <div class="usa-width-one-third">
                <ul>
                    <li><a ng-href="http://www.womenshealth.gov" target="_blank">womenshealth.gov </a></li>
                    <li><a ng-href="http://www.womenshealth.gov" target="_blank">HHS.gov</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>