<div class="usa-grid-full text-center home-h4 category-header">
    Behavioral Risk
</div>
<hr/>
<div class="usa-grid row-behavioral-risk data-boxes-container" >
    <div class="usa-width-one-fourth section">

    </div>
    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner health-related-section-banner">
                <div class="section-banner-title home-h4">
                    Health Related
                </div>
                <a href="#" class="dashboard-explore-links custom-link"
                   ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Use information on  insurance coverage, disability, fertility and other health issues to draw conclusions about the nation’s overall well-being.
            </div>
        </div>
    </div>
    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner youth-related-section-banner">
                <div class="section-banner-title home-h4">
                    Youth Related
                </div>
                <a id="br_mental_health_explorer" ui-sref="search({primaryFilterKey: 'mental_health'})" class="dashboard-explore-links custom-link">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Consider data collected from middle school and high school surveys to gain insight into national, state and local youth risk behaviors.
            </div>
        </div>
    </div>
</div>

