<div class="usa-grid-full text-center home-h4 category-header">
    Census
</div>
<hr/>
<div class="usa-grid row-census data-boxes-container" >
    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner population-section-banner">
                <div class="section-banner-title home-h4">
                    Population
                </div>
                <a href="#" class="dashboard-explore-links custom-link"
                   ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Based on Census estimates of U.S national, state and county residents, examine populations across factors including age, race and ethnicity for specific health criteria.
            </div>
        </div>
    </div>

    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner race-and-origin-section-banner">
                <div class="section-banner-title home-h4">
                    Race & Origin
                </div>
                <a href="#" class="dashboard-explore-links custom-link"
                   ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Compare different races and ethnicities in an effort to understand the issues impacting such groups in the United States.
            </div>
        </div>
    </div>

    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner housing-section-banner">
                <div class="section-banner-title home-h4">
                    Housing
                </div>
                <a href="#" class="dashboard-explore-links custom-link"
                   ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Look comprehensively at the housing and construction industry, including information on mortgages, rents and homeownership rates.
            </div>
        </div>
    </div>

    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner family-and-living-section-banner">
                <div class="section-banner-title home-h4">
                    Family and Living Arrangements
                </div>
                <a href="#" class="dashboard-explore-links custom-link"
                   ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Explore the current trends and the relationship between the composition of a modern family versus residents living together in the same household.
            </div>
        </div>
    </div>
</div>
<div class="usa-grid row-census data-boxes-container more-banners" id="additionalCensus">
    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner education-section-banner">
                <div class="section-banner-title home-h4">
                    Education
                </div>
                <a href="#" class="dashboard-explore-links custom-link" ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Learn how factors such as school district demographics, enrollment and costs can impact education in the United States.
            </div>
        </div>
    </div>
    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner income-and-poverty-section-banner">
                <div class="section-banner-title home-h4">
                    Income and Poverty
                </div>
                <a href="#" class="dashboard-explore-links custom-link"
                   ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Consider issues of poverty, income and wealth as a tool for measuring the overall well-being of the U.S. population.
            </div>
        </div>
    </div>
    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner economy-section-banner">
                <div class="section-banner-title home-h4">
                    Economy
                </div>
                <a href="#" class="dashboard-explore-links custom-link"
                   ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                View statistical information related to the overall strength of the nation’s economy.
            </div>
        </div>
    </div>

    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner transportation-section-banner">
                <div class="section-banner-title home-h4">
                    Transportation
                </div>
                <a href="#" class="dashboard-explore-links custom-link"
                   ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Analyze passenger and commodity traffic information to determine how public transportation services and planned parking can best be implemented and utilized across the across the country.
            </div>
        </div>
    </div>
</div>

<div class="usa-grid view-all-section" ng-click="hc.toggleSlideDown('additionalCensus');showAllCensus = true" ng-show="!showAllCensus">
    <div class="usa-width-one-whole view-all-link"><a href="#" class="custom-link">VIEW ALL <i class="fa fa-angle-right"></i></a></div>
</div><div class="usa-grid view-all-section" ng-click="hc.toggleSlideUp('additionalCensus');showAllCensus = false" ng-show="showAllCensus">
    <div class="usa-width-one-whole view-all-link"><a href="#" class="custom-link"><i class="fa fa-angle-left"></i> VIEW LESS</a></div>
</div>