<div class="usa-grid-full text-center home-h4 category-header">
    Diseases
</div>
<hr/>
<div class="usa-grid data-boxes-container">
    <div class="usa-grid row-diseases" >
        <div class="usa-width-one-fourth section">
            <div class="usa-grid-full">
                <div class="usa-width-one-whole section-banner aids-section-banner">
                    <div class="section-banner-title home-h4">
                        AIDS
                    </div>
                    <a href="#" class="dashboard-explore-links custom-link"
                       ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="usa-grid-full">
                <div class="usa-width-one-whole section-banner-description home-section-box">
                    Learn about reported cases of AIDS and the corresponding response of health departments across the country. View information on survival rates and risk factors that contributed to AIDS-related deaths.
                </div>
            </div>
        </div>

        <div class="usa-width-one-fourth section">
            <div class="usa-grid-full">
                <div class="usa-width-one-whole section-banner cancer-section-banner">
                    <div class="section-banner-title home-h4">
                        Cancer
                    </div>
                    <a href="#" class="dashboard-explore-links custom-link"
                       ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="usa-grid-full">
                <div class="usa-width-one-whole section-banner-description home-section-box">
                    Compare cancer incidence and death statistics across ages, race, gender and year, as well as by cancer centers across the country.
                </div>
            </div>
        </div>
        <div class="usa-width-one-fourth section">
            <div class="usa-grid-full">
                <div class="usa-width-one-whole section-banner tb-section-banner">
                    <div class="section-banner-title home-h4">
                        TB
                    </div>
                    <a href="#" class="dashboard-explore-links custom-link"
                       ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="usa-grid-full">
                <div class="usa-width-one-whole section-banner-description home-section-box">
                    Browse information on reported cases of TB across the country and how it impacts specific states.
                </div>
            </div>
        </div>
        <div class="usa-width-one-fourth section">
            <div class="usa-grid-full">
                <div class="usa-width-one-whole section-banner stds-disease-section-banner">
                    <div class="section-banner-title home-h4">
                        STDs
                    </div>
                    <a href="#" class="dashboard-explore-links custom-link"
                       ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="usa-grid-full">
                <div class="usa-width-one-whole section-banner-description home-section-box">
                    Search STD case reports for women in order to gain insight on disease incidence rates, the number of cases reported, and which STDs most commonly affect women.
                </div>
            </div>
        </div>
    </div>
    <div class="usa-grid row-diseases more-banners" id="additionalDiseases">
        <div class="usa-width-one-fourth section">
            <div class="usa-grid-full">
                <div class="usa-width-one-whole section-banner cron-condition-section-banner ">
                    <div class="section-banner-title home-h4">
                        Chronic Conditions
                    </div>
                    <a href="#" class="dashboard-explore-links custom-link"
                       ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="usa-grid-full">
                <div class="usa-width-one-whole section-banner-description home-section-box">
                    Review comprehensive information on risk behaviors, preventive care practices, and the burden of chronic diseases
                </div>
            </div>
        </div>
    </div>
</div>


<div class="usa-grid view-all-section" ng-click="hc.toggleSlideDown('additionalDiseases');showAllDiseases = true" ng-show="!showAllDiseases">
    <div class="usa-width-one-whole view-all-link"><a href="#" class="custom-link">VIEW ALL <i class="fa fa-angle-right"></i></a></div>
</div>
<div class="usa-grid view-all-section" ng-click="hc.toggleSlideUp('additionalDiseases');showAllDiseases = false" ng-show="showAllDiseases">
    <div class="usa-width-one-whole view-all-link"><a href="#" class="custom-link"><i class="fa fa-angle-left"></i> VIEW LESS</a></div>
</div>

