<div class="usa-grid-full text-center home-h4 category-header">
    General Health
</div>
<hr/>
<div class="usa-grid row-general-health data-boxes-container" >

    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner general-health-mortality-section-banner">
                <div class="section-banner-title home-h4">
                    Mortality
                </div>
                <a ng-href="/search" class="dashboard-explore-links custom-link">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Browse detailed information regarding adult and fetal deaths in the United States, across groupings of race, gender and age.
            </div>
        </div>
    </div>

    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner population-growth-section-banner">
                <div class="section-banner-title home-h4">
                    Population Growth
                </div>
                <a href="#" class="dashboard-explore-links custom-link"
                   ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Explore trends of population growth, and how particular changes in population size contribute to death counts and crude death rates.
            </div>
        </div>
    </div>

    <div class="usa-width-one-fourth section">
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner family-growth-section-banner">
                <div class="section-banner-title home-h4">
                    Family Growth
                </div>
                <a href="#" class="dashboard-explore-links custom-link"
                   ng-click="hc.showPhaseTwoWarningModal('label.default.to.be.implemented');">EXPLORE <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
        <div class="usa-grid-full">
            <div class="usa-width-one-whole section-banner-description home-section-box">
                Gain insight into how factors of family life, such as marriage and divorce; pregnancy; infertility; and use of contraception, contribute to men’s and women’s health overall.
            </div>
        </div>
    </div>
</div>