<div class="usa-grid home-child-header row-spotlight">
    <div class="usa-width-one-third home-child-heading">
        <div style="margin-left: 25px">
            <span class="spotlight-header">Spotlights</span>
            <div class="usa-width-one-whole">
                <div class="left-float width-15-percentile"><i class="fa fa-check-circle fa-2x" aria-hidden="false"></i></div>
                <div class="left-float width-85-percentile">View the monthly spotlights, highlighting topics of interest and relevant data available on Quick Health Data Online</div>
            </div>
        </div>
    </div>
    <div class="usa-width-one-third home-child-heading">
        <div>
            <span class="spotlight-header">Health Disparities Profiles</span>
            <div class="usa-width-one-whole">
                <div class="left-float width-15-percentile"><i class="fa fa-check-circle fa-2x" aria-hidden="false"></i></div>
                <div class="left-float width-85-percentile">Examine the Twenty-two health indicators which highlight some of the key areas related to health disparities among different populations</div>
            </div>
        </div>
    </div>
    <div class="usa-width-one-third home-child-heading">
        <div>
            <span class="spotlight-header">Women's Health Chartbook</span>
            <div class="usa-width-one-whole">
                <div class="left-float width-15-percentile"><i class="fa fa-check-circle fa-2x" aria-hidden="false"></i></div>
                <div class="left-float width-85-percentile">Review easy-to-use collection of 28 different health indicators are featured, which highlight some of the key issues related to women’s health that are being measured regularly at the state level</div>
            </div>
        </div>
    </div>
</div>